<h1 mat-dialog-title>{{isEditMode()?"Изменение слова":"Добавление слова"}}</h1>
<div mat-dialog-content class="row">
    <div class="col-6">
        <mat-card-title>Слово</mat-card-title>
        <list-word #fromComponent [words]=link.from></list-word>
    </div>
    <div class="col-6">
        <mat-card-title>Перевод</mat-card-title>
        <list-word #toComponent [words]=link.to [mode]="mode"></list-word>
    </div>
</div>
<div *ngIf="isShowYandex()">
    <a target="_blank" href="https://tech.yandex.ru/dictionary/">«Реализовано с помощью сервиса «Яндекс.Словарь»</a>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="save()" cdkFocusInitial>{{isEditMode()?"Сохранить":"Добавить"}}</button>
    <button mat-button (click)="delete()" *ngIf="isEditMode()">Удалить</button>
    <button mat-button mat-dialog-close>Отмена</button>
</div>