<div class="container full-width">
    <mat-card class="col align-self-center">

        <mat-card-subtitle>
            <h2>Lyn</h2>
        </mat-card-subtitle>

        <mat-card-title>
            <h2>{{title}}</h2>
        </mat-card-title>

        <mat-card-content>

            <p [class]="notification.msgType" *ngIf="notification">{{notification.msgBody}}</p>

            <form *ngIf="!submitted" [formGroup]="form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
                <mat-form-field>
                    <input matInput formControlName="username" required placeholder="имя пользователя">
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="password" required type="password" placeholder="пароль">
                </mat-form-field>
                <button type="submit" [disabled]="!loginForm.form.valid" mat-raised-button color="primary">Войти
                </button>
            </form>
            <br>
            <!--
            <div *ngIf="!submitted" >
              <button matTooltip="Reset password if someone has changed it already!" (click)="onResetCredentials()" mat-raised-button color="accent">Reset Credentials</button>
            </div>-->

            <mat-spinner *ngIf="submitted" mode="indeterminate"></mat-spinner>
            <br>
            <hr>

            <p><i>Created by <a href="https://github.com/intet">Sivodedov Dmitry</a></i></p>
            <p><i>Click below to go to repository</i></p>
            <button (click)="repository()" mat-raised-button color="accent">GitHub Repository</button>

        </mat-card-content>

    </mat-card>

</div>
