<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      GitHub's API rate limit has been reached. It will be reset in one minute.
    </div>
  </div>
  <mat-table #table [dataSource]="dataSource" class="example-table"
             matSort matSortActive="created" matSortDisableClear matSortDirection="asc">


    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>id</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="original">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Слово</mat-header-cell>
        <mat-cell *matCellDef="let row">
            <ng-container *ngFor="let word of row.from; let isLast=last">
                {{ word.text}}{{isLast ? '' : ', '}}
            </ng-container>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="translation">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Перевод</mat-header-cell>
        <mat-cell *matCellDef="let row">
            <ng-container *ngFor="let word of row.to; let isLast=last">
                {{ word.text}}{{isLast ? '' : ', '}}
            </ng-container>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [length]="totalCount" [pageSize]="20" [pageSizeOptions]="[5, 10, 30]" [showFirstLastButtons]="true">

  </mat-paginator>
</div>
